.x-background .row {
    font-size: 10pt;
    height: 250px;
}

.x-background .x-name {
    font-size: 24pt;
}

.x-background .x-tags {
    color: #7a7a7a;
}

@media (min-width: 576px) {
    .x-background .x-tags {
        color: #a0a0a0;
    }
}
