.yellow-header .row {
    background-color: #fddb01;
    font-size: 25pt;
    font-weight: bold;
    height: 200px;
}

.body {
    margin-top: -50px;
    z-index: 101;
}

.yellow-footer {
    margin-top: -40px;
    z-index: 100;
}

.yellow-footer .row {
    background-color: #fddb01;
    height: 80px;
}

.dark-footer .row {
    background-color: #232227;
}
