.header {
    background-color: #fddb01;
    width: 100%;
    height: 300px;
    text-align: center;
    padding-top: 80px;
    font-size: 40pt;
    font-weight: bold;
}

.body {
    position: relative;
    margin-top: -50px;
    z-index: 101;
}

.body .box {
    background-color: white;
}

.yellow-footer {
    background-color: #fddb01;
    position: relative;
    margin-top: -40px;
    z-index: 100;
    height: 80px;
}

.footer {
    background-color: #232227;
    color: white;
}